# Dependencies
node_modules/

# Build output
build/
.lint-build/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Structurizr
c4/_site/
c4/_puml/
c4/.structurizr/
c4/workspace.json